:root {
    --background: #222222;
    --f_high: #ffffff;
    --f_med: #cccccc;
    --f_low: #999999;
    --f_inv: #ffffff;
    --b_high: #888888;
    --b_med: #666666;
    --b_low: #444444;
    --b_inv: #000000;
}

header, #hidebtn {
    display: none !important
}

.CodeMirror {
    font-size: 16px;
}
